html {
  font-family: 'Helvetica', 'sans-serif';
  background-color: #293b5f;
}

button {
  padding: 10px;
  border-radius: 0px;
  border: 0px solid black;
  margin: 10px;
  min-width: 10vw;
  background-color: #47597e;
  color: white;
}

button:hover {
  opacity: .5;
  cursor: pointer;
}

#buttonWrapper {
  display: grid;
  margin-left: -20px;
}

#varWrapper {
  width: 20vw;
  border: 1px solid black;
  margin-right: auto;
  padding-left: 20px;
  background-color: #dbe6fd;
  margin-top: 10px;
}

#graphArea {
  border: black;
  height: 98vh;
  width: 75vw;
  border: 1px solid black;
  margin-left: 23vw;
  position: fixed;
  top: 10px;
  background-color: white;
}

#grades {
  position: absolute;
  right: 14vw;
  top: 20vh;
  width: 800px;
  height: 600px;
  border: 1px solid #47597e;
  border-radius: 10px;
  visibility: hidden;
  flex-wrap: wrap;
  background-color: rgba(239, 251, 255, .9);
}

#card {
  min-width: 10vw;
  padding-left: 10px;
  margin: 10px;
}

#varOption:hover {
  cursor: pointer;
  opacity: .5;
}

.checkLabel:hover {
  cursor: pointer;
  opacity: .5;
}

.link {
  stroke: rgba(200,200,200,.5);
}

.node text {
stroke:#333;
cursos:pointer;
}

.node circle{
stroke:#fff;
stroke-width:3px;
fill:#555;
}
